.sectionA{
    width:100%;
    height:280px;
    text-align: center;
    background: linear-gradient( 180deg, rgba(3, 6, 126, 0.85), rgba(122, 0, 147, 0.85) );
}
.sectionA {
    font-size:larger;
    padding-top: 3rem;
    text-decoration: none;
    color:white;

}




.sectionK {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-between; */
    gap: 30rem;
    margin: 2rem;

}

.sectionK .last {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 9px;

}

.sectionK span {
    font-size: x-large;
    padding-bottom: 1rem;
}

.sectionK a {
    text-decoration: none;
    color: green;
}