body{
    background-color: whitesmoke;
}
.box{
    margin:auto;
    background-color: white;
    width:33%;
    height:880px;
    margin-top:3rem;
    padding: 1rem;
    
}
.box .imgg{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

form{
    display: flex;
    flex-direction: column;
}

.form input{
    border-radius: 8px;
    padding:10px;
    margin:9px;
    width:400px;
    font-size: larger;
    border:1px solid rgb(220, 218, 218);


}
.box button{
    justify-content: center;
    align-items:  center;
    text-align: center;
    width:430px;
    padding:16px;
    margin:9px;
    border-radius: 16px;
    background-color: rgb(128, 223, 128);
    text-decoration: none;
    color:white; 
}
.signup{
    display: flex;
    flex-direction: row;
    gap:9px;
}
.signup a{
    color:green;
    font-size: larger;
    padding-top: 14px;
}
